@inject HttpClient http 

<ul class="list-unstyled">
    @foreach (var product in Products)
    {
        <div class="card" style="width: 18rem; margin-block:10px">
            <img class="media-img-top" src="@product.ImageUrl" alt="@product.Title" />
            
            <div class="card-body">
                <a href="#" class="card-link">@product.Title</a>
                <p>@product.Description</p>
                <h5 class="price">$@product.Price</h5>
            </div>
        </div>
    }
</ul>

@code {
    private static List<Product> Products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var result = await http.GetFromJsonAsync<ServiceResponse<List<Product>>>("api/product");
        if ((result != null) && (result.Data != null))
        {
            Products = result.Data;
        }
    }

}
